.flex-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}
.header {
    background-color: rgb(204, 204, 204);
}
.main {
    flex: 1;
}
.footer {
    background-color: yellow;
}

.btm-buffer {
    margin-bottom: 15px;
}