body, html {
    height: 100%;
}
  
* {
    box-sizing: border-box;
}

body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    font-weight: 300;
    color: #818181;
}

.navbar {
    margin-bottom: 0;
    background-color: rgba(0,0,0,0.75);
    color: #ffffff;
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.42857143 !important;
    letter-spacing: 4px;
    border-radius: 0;
}

.navbar-default .navbar-brand {
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 1.31667px;
    line-height: 28.8px;
    color: #ffffff;
}

.navbar-default .navbar-nav > li > a {
    font-family: 'Open Sans';
    font-size: 16px;
    font-weight: 300;
    text-indent: 0px;
    line-height: 29.6px;
    word-spacing: 0px;
    color: #ffffff;
}

.btn-primary-outline {
	background-color: transparent;
	color: #ffffff;
	border-color: #ffffff;
	transition: .25s ease-in;
}

.btn-primary-outline:hover, .btn-primary-outline:focus, .btn-primary-outline:active, .btn-primary-outline.active {
    background: #ffffff;
    color: #000000;
    transition: .25s ease-in;
}
 
.btn-primary-outline:active, .btn-primary-outline.active {
    background: #ffffff;
    color: #000000;
    box-shadow: none;
    transition: .5s ease-in;
}

#j1 {
    font-family: 'PT Serif';
    font-size: 24px;
    line-height: 29.6px;
    font-weight: 300;
    background-color: #000000;
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 250px;
}

#j1 p {
    font-family: 'PT Serif';
    font-size: 24px;
    line-height: 29.6px;
    font-weight: 300;
    color: #ffffff;
}

#j1 h6 {
    font-family: 'PT Serif';
    font-size: 14px;
    line-height: 19.6px;
    font-weight: 400;
    color: #ffffff;
}

.media-body p {
    color: rgba(255, 255, 255, 0.91);
    font-family: 'Open Sans';
    font-size: 25px;
    font-weight: 300;
    line-height: 29.6px;
}

h2 {
    font-family: Open Sans;
    color: #4d4d4d;
    font-size: 46.4px;
    line-height: 64.9667px;
    letter-spacing: -1.61667px;
    text-transform: uppercase;
    color: #303030;
    font-weight: 500;
    margin-bottom: 30px;
}

p {
    font-family: 'Open Sans';
	padding: 0;
    margin: 0;
    line-height: 29.6px;
    font-size: 16px;
    color: #666666;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-weight: 300;
}

.bg-img-hdr {
    background-image: url("assets/auditorium_perspective.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow:hidden;
    -webkit-filter: grayscale(35%);
}

.bg-img-ftr {
  background-image: url("assets/IMG_0862-ed.jpg");
  background-attachment: fixed;
  background-position: center;
  position: relative;
  overflow:hidden;
  -webkit-background-size: cover !important;
  -moz-background-size: cover !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  padding-top: 10%;
  padding-bottom: 10%;
}

#ftr, #ftr p {
    font-family: 'Open Sans';
    color: #ffffff;
    font-size: 16px;
    line-height: 29.6px;
    font-weight: 300;
}

#ftr h2 {
    font-family: 'Open Sans';
    color: #ffffff;
}
div.tint {
    -webkit-transition: all 0.5s linear;
       -moz-transition: all 0.5s linear;
        -ms-transition: all 0.5s linear;
         -o-transition: all 0.5s linear;
            transition: all 0.5s linear;
}

div:hover.tint {
    opacity: 1;
    -webkit-filter: brightness(85%);
}

.thumbnail {
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
}

.thumbnail img {
    position: absolute;
    left: 50%;
    top: 50%;
    height: 100%;
    width: auto;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
}
  
.wrapper{
    width:100%;
    padding-top: 20px;
    text-align:center;
}

.carousel{
    width:90%;
    margin:0px auto;
}

.slick-slide{
    margin: 0 1px;
}

.slick-slide img{
    width:100%;
    border: 0.5px solid #fff;
}

  .slick-prev:before {
    color: #000000;
}

  .slick-next:before {
    color: #000000;
}